* {
    margin: 0;
    padding: 0;
    color: white;
}
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
  background: #4e54c8;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  

    font-family: 'Exo', sans-serif;
}


.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    position: fixed;
   z-index: -10;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* background-color: #dcdc39; */
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
}



.nav {

    position: fixed;
    margin: 12px;
    height: 60px;
    width: 60px;
    background-color: #fff;
    transition: 0.5s;
    border-radius: 50px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
}

.menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

.nav input:checked~.menu {
  margin-top: 60px;
  background-color: #ffffff;
  border-radius: 40px;
    width: 130px;
    height: 540px;
}

.menu li {
  border-radius: 20px;
    list-style: none;
    margin: 60px 8px;
    height: 60px;
    width: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}

.menu li a:hover,li:hover {
    color: #fffb00;
    background-color: #00eb89;
    
    transition: 0.7s;
   
}
.menu li a:hover{
  
  background :none !important;
}

.nav input {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}

.nav span {
    position: absolute;
    top: 30px;
    left: 15px;
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: #666;
    pointer-events: none;
    transition: 0.5s;
}

.nav input:checked~span {
    background-color: #f974a1;
}

.nav span:nth-child(2) {
    transform: translateY(-8px);
}

.nav input:checked~span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}

.nav span:nth-child(3) {
    transform: translateY(8px);
}

.nav input:checked~span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}

#home {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
}

#home div:nth-child(2) {
    margin-top: 200px;
}

#home p {
    margin-top: 12px;
    font-size: 20px;
    line-height: 30px;
}

#home h1 {
    margin-bottom: 20px;
    font-size: 40px;
}

#home h1 span {
    color: var(--skin);
}

#home h1:nth-child(1) span {
    font-family: var(--logo-font);
}

#about {
    height: 100vh;
}

#dsa {

    padding-right: 100px;
    padding-left: 120px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 140vh;
}

#dsa li ,a{
 font-size: 3vmin;
    color: black;
    font-weight: 1000;
    text-decoration: none;
}
#dsa a:hover{
    color: red;
    transform: scale(0.1);
}
#dsa li{
    margin-top: 12px;
    margin-left: 30px;
    line-height:40px;
}

#dsa>div {
    margin: 60px;
    height: 400px;
    width: 400px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 20px #000;
}

#contact {
    height: 10vh;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

* {
    margin: 0;
    padding: 0;
    color: var(--theme-color);
}

:root {
    --skin: red;
    --theme: rgb(63, 56, 56);
    --theme-l: rgb(56, 55, 55);
    --theme-l-color: rgb(95, 95, 95);
    --theme-color: white;
    --logo-font: 'Monoton', cursive;
}



/* ==========contact============ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
*{
  padding:0%;
  margin:0%;
  box-sizing: border-box;
}

.hero {
  height: auto;

  background-size: cover;
  background-blend-mode: multiply;
   /* background-attachment:fixed ;
    activate when you put in your website (optional)
  */
  color: rgb(255, 255, 255);
  padding: 30px 80px 30px 30px;
}
.hero .container{
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
}
.flex{
  display: flex;
}
.container__about{
  margin-bottom: 30px;
}

.container__about p{
  margin-top: 10px;
  max-width: 300px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}

.container-pages{
  column-gap: 30px;
}

.container-pages ul{
  padding-top: 10px;
  list-style: none;
  line-height: 24px;
}
.container-pages ul a{
  color: inherit;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}
.container-pages ul a:hover{
  color: #017143;
}
footer .by{
margin-top: 30px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer .by p{
  color: rgba(255, 255, 255, 0.605);
  font-size: 14px;
}
.line__separete{
  margin-top: 30px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  z-index: 999;
}
.icons {
  margin-top: 20px;
  display: flex;
  column-gap: 25px;
}

.icon1 {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property:
      outline-offset, outline-color,
      background-color;
  transition-duration: .25s;
}

.icon1:hover {
  outline-offset: 4px;
}

.icon1:hover i {
  animation: shake .25s;
}

.icon--instagram:hover {
  background-image: radial-gradient(circle at 30% 107%,
          #fdf497 0%, #fdf497 5%,
          #fd5949 45%, #d6249f 60%,
          #285AEB 90%);
  outline-color: #a02d76;
}

.icon--twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}

.icon--linkedin:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}

.icon--github:hover {
  background-color: #000000;
  outline-color: #000000;
}

@keyframes shake {
  10% {
      transform: rotate(15deg);
  }

  20% {
      transform: rotate(-15deg);
  }

  30% {
      transform: rotate(15deg);
  }

  40% {
      transform: rotate(-15deg);
  }
}

@media only screen and (max-width: 800px) {
  .hero{
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .container__about h2{
    font-size: 20px;
  }
  .container__about p{
    font-size: 12px;
  }
  .container__recentpages h2{
    font-size: 20px;
  }
  .container-pages ul a{
    font-size: 12px;
  }
  footer .by p{
    font-size: 12px;
  }
} 
#dsa{
  cursor: pointer;
}
#dsa h1{
  margin-top: 20px;
  color: #000;text-align: center;
}
.butn h1{
  width: 200px;
  height: 50px;
  border-radius:15px ;
  background-color: var(--skin); 
  box-shadow: 0px 0px 15px #000;
  margin: 0px auto auto;
  margin-bottom: 0px;
  font-size: 1em;
  padding:8px ;
}
#dsa li{
  background: none ;
}