@media screen and (max-width:600px){
    body{
      width: 100% !important;
        zoom: 100%;
        overflow-x: hidden;
    }
    #home {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
      }
    #home div:nth-child(1){
        display:none;
      }
      #home div:nth-child(2) {
        margin: 85px auto 0px auto;

    }
      .nav{
        box-shadow: none;
        background: none;
      }
      .nav span{
        background-color: white;
        height: 3px;
        width: 20px;
      }
      .nav span:nth-child(2) {
        transform: translateY(-2px);
      }
      #home h1 {
        font-size: 2em;
      }
      #home p {
      display: none;
      }
      #myimg{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      #myimg img {
        margin:0px auto;
        height: 350px;
display: inline-block;
position: relative;
      }
      
      #about {
        height: 100%;
        padding: 0px 10px;
    }
      
#about p{
  font-size: 1.0em;
  margin: 30px 0px;
}
#about h5 {
    padding: 0px;
}
h5 {
  padding:0px 10px;
    font-size: 2em;
    text-decoration: underline;
    text-decoration-color: red;
}
#dsa {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}
#dsa>div {
  margin: 20px auto;
  height: 200px;
  width: 200px;
}
#dsa div>h1 {
  font-size: 1.4em;
}
.butn a>h1 {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-size: 15px;
  padding: auto ;
}
#dsa li {
  margin-top: 12px;
  margin-left: 30px;
  line-height: 20px;
}
#bod {
  margin-left: 56px;
}
.cons {
  grid-template-columns: 1fr 1fr;
}
.temp {
  height: 180px;
  width: 180px;
  margin: 1px auto 25px;
}
.temp p {
  margin-top: 10px;
  font-size: 1.5em;
  position: absolute;
  width: 180px;
}
.temp h1 {
  width: 100px;
  border-radius: 10px;
  font-size: 0.9em;
  text-align: center;
  transform: scale(1);
  margin-top: 120px;
}
.nav{
  z-index: 10;
}
.pgstyle img {
  width: 95%;
  min-height: 100vh;
}
.close::before {
  height: 20px;
  width: 30px;
  border-bottom: 5px solid white;
  margin-top: 15px;
}
.close::after {
  height: 20px;
  width: 30px;
  border-bottom: 5px solid white;
  margin-top: 15px;
  right: 30px;
}
#contact {
  height: 100%;
}

}
