/* @media only screen and (max-width:850px) { */
@media screen and (min-width: 320px) and (max-width: 750px) {
    body {
        overflow-x: hidden;

    }

    #home div:nth-child(1) {
        display: none;
    }

    #home div:nth-child(2) {
        margin-top: 0px;
        height: 130px;
    }

    #home {
        height: 95vh;
        display: grid;
        padding: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: none 1fr 1fr;
    }

    #dsa {
        padding-left: 30px;
        display: grid;
        grid-template-columns: 1fr;
        height: 230vh;
    }

    #dsa>div {

        height: 300px;
        width: 300px;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0px 0px 20px #000;
    }

    #home p {
        display: none;
    }

    #bod {
        margin-left: 80px;
        margin-right: 10px;
    }

    .temp h1 {
        transform: scale(1);
        margin-top: 126px;
    }

    .cons {

        grid-template-columns: 1fr 1fr;

    }

    .temp {
        height: 12em;
        width: 12em;
    }

    .temp p {
        margin: 0;
        font-size: 1.9em;
        width: 200px;
    }

    #con1 {
        transform: translate(0px, 500px);
        width: 80%;
    }

    .pgstyle>img {
        min-height: 100vh;
        width: 90%;
        margin: 20px auto;

    }

    .nav {
        z-index: 1;
    }

    .close::after {
        border-bottom: 6px solid white;
        height: 35px;
        width: 35px;
        right: 30px;

    }

    .close {
        cursor: pointer;
        position: fixed;
    }

    .close::before {
        height: 35px;
        width: 35px;
        border-bottom: 6px solid white;
        right: 5px;
    }
#myimg {
    display:inline;
    padding: 0px auto;
}
    #myimg img {
        display: inline;
        height: 500px;
    }

    #about {
        padding: 0px 50px;
        height: 270vh;
    }

    h5 {
        padding: 0px 50px;
    }
}
